.Stud_Logo{
    width: 60px;
    height: 60px;
    border-radius: 100%;
}
.Stud_heading{
    color: #000;
    font-weight: bold;
    margin-top: 10px;
}
.stud_para{
    color: #fff;
    background-color: #15283c;
    padding: 5px 10px;
    border-radius: 20px;
    width: 70px;
    font-size: 10px;
    position: relative;
    top: 15px;
}

@media only screen and (max-width:768px) {
    .Sname_Col{
        margin-left: 10px;
    }
    .stud_para{
        left: -15px;
    }
}